body * {
    font-family: Helvetica, Arial, san-serif;
    line-height: 1.4em;
}

h1.headline {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-align: center;
	padding-top: 20px;
	/*text-shadow: 1px 1px 0px #000000;*/

}

div.instructions {
	border: 1px solid #665544;
	background-color: #000000;
	padding: 8px;
	text-align: left;
	margin: 10px;
	color: #B0C4DE;
	font-weight: bold;
	line-height: 1.4em;
}

div.box {
	border: 1.5px solid #665544;
	background-color: Cornsilk;
	padding: 8px;
	text-align: left;
	margin: 10px;

}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

#endMsg {
	border: 1px solid #665544;
	background-color: #000000;
	padding: 8px;
	text-align: left;
	margin: 10px;
	color: #B0C4DE;
	font-weight: bold;
	line-height: 1.4em;
}

a {
		color: #AFAEAF;
		text-align: right;
}
a:hover {
		color: #000000;
}
a:active {
		border: solid;
		border-color: #000000;
}